<div class="form">
  <div class="nickname">
    <input type="text" placeholder="NICKNAME"/>
  </div>
  <div class="password">
    <input type="text" placeholder="PASSWORD"/>
  </div>
  <div class="login">
    <span>log in</span>
  </div>
</div>